<!DOCTYPE html>
<html lang="en-us">

  {% include head.html %}

  <body>

    {% include sidebar.html %}

    <!-- Wrap is the content to shift when toggling the sidebar. We wrap the
         content to avoid any CSS collisions with our real content. -->
    <div class="wrap">
      <div class="masthead">
        <div class="container">
          <h3 class="masthead-title">
            <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
            <small>{{ site.tagline }}</small>
          </h3>
        </div>
      </div>

      <div class="container content">
        {{ content }}
      </div>
    </div>

    <!-- Pagination links -->
    {% if paginator.total_pages > 1 %}
    <div class="pagination">
      {% if paginator.previous_page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
      {% elsif paginator.previous_page%}
        <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&laquo;</a>
      {% else %}
        <span class="page-item">&laquo;</span>
      {% endif %} {% for page in (1..paginator.total_pages) %} {% if page == paginator.page %}
        <span class="page-item">{{ page }}</span>
      {% elsif page == 1 %}
        <a href="{{ '/' | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">{{ page }}</a>
      {% else %}
        <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page }}" class="page-item">{{ page }}</a>
      {% endif %} {% endfor %} {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}" class="page-item">&raquo;</a>
      {% else %}
        <span class="page-item">&raquo;</span>
      {% endif %}
    </div>
    {% endif %}

    <!-- Sidebar menu -->
    <label for="sidebar-checkbox" class="sidebar-toggle"></label>

    <!-- Script -->
    {% include script.html %}

  </body>
</html>
